*.mymetadata
*.checkstyle
*.classpath
*.project
*.class
*.war
*.jar
*.zip
*.rar
*.idea
*.iml
*.log
.settings/
/target/
/src/main/webapp/WEB-INF/classes/*
/out/
src/main/webapp/layim/
.DS_Store
!src/main/webapp/layim/im.js
!src/main/webapp/layim/chatLog.js
!src/main/webapp/layim/chatLog.jsp
